#container-main {
    width: 887px;
    margin: auto;
    padding: 5px 10px;
    background:#052135;
    font-family: "Lucida Sans Unicode", Arial, sans-serif;
}

a:hover {
    color: hotpink;
}

#nav-bar {
    height: 60px;
    width: 850px;
    margin: -5px 10px 10px 20px;
    display: inline-block;
    color: white;
    background: #052135;
}

#nav-links {
    width: 600px;
    margin: -60px 0px 0px 242px;
    display: inline-block;
    text-align: right;
    vertical-align: top;
    color: mediumpurple;
}

#nav-links a {
    padding: 0px 10px;
    text-decoration: none;
}

#wrapper {
    width: 844px;
    height: 950px;
    margin: -25px 0px 0px 2px;
    padding: 20px 20px;
    vertical-align: top;
    color: black;
    background: white;
}

.span-nav-b {
    color: #185580;
}

.span-nav-w {
    color: white;
}

#hero {
    margin: auto;
}

#main-content {
    width: 887px;
    margin: 0px 0px;
}

.boxes {
    width: 238px;
    height: 215px;
    margin: 15px 15px 0px 0px;
    padding: 10px 15px 0px 15px;
    vertical-align: top;
    display: inline-block;
    background: #1467AA;
    color: white;
    font-size: 11px;
    text-align: left;
}

.boxes h2 {
    display: inline-block;
    margin: 0px 0px;
}

#tool {
    width: 40px;
}

.buttons {
    height: 15px;
    display: inline-block;
    margin: -5px 0px;
    padding: 14px 25px;
    border-radius: 5px;
    background: linear-gradient(#47AEEC,#118EE0);
    color: white;
    text-align: center; 
    text-decoration: none;    
}

.buttons a {
    text-decoration: none;
    color: white;
}

.sub-content {
    width: 887px;
    margin: 0px 0px 0px 0px; 
    color: #052135;
    display: inline-block;
    color: #052135;
    text-align: left;
    font-size: 10pt;
    word-wrap: break-word;
}

#header-box {
    width: 557px;
    margin: 25px 0px;
}

#box1 {
    width: 280px;
    height: 200px;
    margin: 0px 15px 0px 10px;
    display: inline-block;  
}

#box2 {
    width: 269px;
    height: 300px;
    margin: -75px 15px 0px -7px;
    padding-left: 10px;
    display: inline-block;
}  

#world {
    width: 345px;
    margin: 0px 0px 0px 0px;
}

#testimonial {
    width: 50px;
    margin: 0px 0px 0px 568px;
    padding: 0px 0px 0px 0px;
    display: inline-block;
}

#footer {
    height: 35px;     
    width: 884px;
    margin: 0px 0px 0px 2px;
    padding: 20px 0px;
    display: block;
    color: black;
    font-family: "Lucida Sans Unicode", Arial, sans-serif;
    background: #C5D7EC;
    border-top: 1px solid #052135;
    text-align: center;
}

#footer a {
    padding: 0px 15px;
    text-decoration: none;
}

textarea {
    background: powderblue;
    font-style: italic;
}